.loginPage
    min-height: 90vh
    display: flex
    justify-content: center
    align-items: center
    .content
        display: flex
        justify-content: center
        align-items: center
        .form
            display: flex
            flex-direction: column
            align-items: center
            gap: 40px
            box-shadow: 0px 0px 1em rgb(119, 119, 119)
            margin-top: 20px
            padding-inline: 100px
            padding-block: 40px
            border-radius: 10px
            h1
                font-weight: 300
                border-bottom: solid 2px black
                padding: 5px
            .nameInpt
                input
                    padding: 5px
                    outline: none
                    border: none
                    border-bottom: solid 2px black
            .passInpt
                input
                    padding: 5px
                    outline: none
                    border: none
                    border-bottom: solid 2px black
            .errorLog
                height: 20px
                width: 100%
                text-align: center
                span
                    color: red
                    font-size: 0.8em
            .signIn
                span
                    font-size: 0.8em
                    a
                        color: blue
            .btns
                display: flex
                justify-content: space-between
                gap: 10px
                align-items: center
                .loginBtn
                    padding: 5px
                    border: solid 2px black
                    background-color: transparent
                    border-radius: 5px
                    transition: all 0.5s
                    &:hover
                        color: white
                        background-color: black
                .googleBtn
                    padding: 5px
                    border: solid 2px black
                    background-color: transparent
                    border-radius: 5px
                    transition: all 0.5s
                    &:hover
                        border-top: solid 2px rgb(66,133,244)
                        border-right: solid 2px rgb(219,68,55)
                        border-bottom: solid 2px rgb(244,160,0)
                        border-left: solid 2px rgb(15,157,88) 
.loginPage.dark
    background-color: black
    color: white
    .form
        box-shadow: 0px 0px 1em rgb(47, 47, 47)
    input
        background-color: transparent
        border-bottom: solid 2px white !important
        &:focus
            color: white !important
    .loginBtn
        color: white
        border: solid 2px white !important
        &:hover
            color: black !important
            background-color: white !important
    .googleBtn
        color: white
        border: solid 2px white !important
        &:hover
            border-top: solid 2px rgb(66,133,244) !important
            border-right: solid 2px rgb(219,68,55) !important
            border-bottom: solid 2px rgb(244,160,0) !important
            border-left: solid 2px rgb(15,157,88)  !important
