.home
  .content
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .carrouWrapper
      padding-block: 50px
      animation: test 1.5s 
      @keyframes test
            0%
              opacity: 0  
              transform: translateX(100%)
            50%
              opacity: 0  
              transform: translateX(100%)
            100%
              opacity: 1
              transform: translateX(0%)
      h2
        padding-inline: 20px
        padding-bottom: 20px
        text-align: center
        font-size: 2em
    .bestSellers
      padding-block: 50px
      padding-inline: 50px
      animation: test3 2.5s
      @keyframes test3
        0%
          opacity: 0  
          transform: translateX(-100%)
        50%
          opacity: 0  
          transform: translateX(-100%)
        60%
          opacity: 0  
          transform: translateX(-100%)
        100%
          opacity: 1
          transform: translateX(0%)
      h2.bestSellers
        padding-bottom: 20px
        font-size: 2em
      .products
        display: flex
        gap: 20px
        flex-wrap: wrap
        justify-content: center
